*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #000000;
}

.cronometro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.tempo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tempo h1{
    color: #4E4FEB;
    font-size: 10rem;
}

button {
    border-radius: 50px;
    width: 150px;
    height: 60px;
    border: none;
    background-color: #4E4FEB;
    color: white;
    font-size: 20px;
    margin: 50px 50px 0px 0px;
}

button:last-child{
    margin: 50px 0px 0px 0px
}

button:hover{
    background-color: #068FFF;
}